// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright 2022 NXP
 */
/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	model = "NXP S32 Family Boards";
	compatible = "nxp,s32";

	soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;

		hse: crypto {
			#address-cells = <2>;
			#size-cells = <2>;

			mu0b@40210000 {
				compatible = "nxp,s32cc-hse";
				reg = <0x0 0x40210000 0x0 0x1000>,
				<0x0 0x22C00000 0x0 0x1000>;
				reg-names = "hse-mu0b-regs",
					"hse-mu0b-desc";
			};
			mu1b@40211000 {
				compatible = "nxp,s32cc-hse";
				reg = <0x0 0x40211000 0x0 0x1000>,
				<0x0 0x22C01000 0x0 0x1000>;
				reg-names = "hse-mu1b-regs",
					"hse-mu1b-desc";
			};
			mu2b@40212000 {
				compatible = "nxp,s32cc-hse";
				reg = <0x0 0x40212000 0x0 0x1000>,
				<0x0 0x22C02000 0x0 0x1000>;
				reg-names = "hse-mu2b-regs",
					"hse-mu2b-desc";
			};
			mu3b@40213000 {
				compatible = "nxp,s32cc-hse";
				reg = <0x0 0x40213000 0x0 0x1000>,
				<0x0 0x22C03000 0x0 0x1000>;
				reg-names = "hse-mu3b-regs",
					"hse-mu3b-desc";
			};
		};
	};
};
